html {
  height: 100%;
  width: 100%;
}
body{
  background-color: rgb(145, 8, 199);
}

.d1{
 
  border: 2px solid black;
  background-color: rgb(122, 7, 230);
  padding: 20px;
  margin: 0 auto;
  width: 400px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.text{
  border-color: black;
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: white;  
}
.btn{
  width: 60px;
  border: 5px solid white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  border-radius: 12px;
  border: none;
  padding: 10px;
  margin: 10px;
}
.btn:hover{
  color: black;
  border-color: black;
  background-color: #ffffff;
  transition: 0.5s;
}